# Environment
.env
Miniconda3-latest-Linux-x86_64.sh
Miniconda3-latest-Linux-x86_64.sh.1

# Delta Lake data
data/

# MLflow artifacts
mlflow/mlruns/

# Python
__pycache__/
*.pyc
.pytest_cache/

# dbt
dbt/target/
dbt/logs/

# Terraform
terraform/.terraform/
terraform/*.tfstate